<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white text-center">
                EVALUADORES DE PROYECTOS
            </div>


            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-success" type="button"
                                    (click)="llamarAccion(['nuevo', modalPersonaEdit])"
                            >
                                <app-ht-font-awesome name="plus"></app-ht-font-awesome>
                                Nuevo Evaluador
                            </button>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-inline">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm"
                                       [(ngModel)]="variableCriterio" (keyup.enter)="cargarLista()"
                                       placeholder="N° Doc., Apellidos y Nombres"/>
                                <div class="input-group-append">
                                    <button
                                        type="button"
                                        class="btn btn-outline-secondary btn-sm"
                                        (click)="cargarLista()"
                                    >
                                        <app-ht-font-awesome name="search"></app-ht-font-awesome>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-------siguiente------>
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover table-bordered table-sm ">
                            <thead class="thead-dark">
                            <tr class="text-center">
                                <th >#</th>
                                <th >Regina</th>
                                <th >Datos</th>
                                <th >DNI</th>
                                <th >Linea Investigacion</th>
                                <th >telefono</th>
                                <th>correo</th>
                                <th width="10px">Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataServidor.mostrarLista | paginate: { itemsPerPage: 25, currentPage: p }; let i = index"
                                (click)="modelos.sel_en_lista = data"
                                [class.table-warning]="((modelos.sel_en_lista != null) &&
                                (modelos.sel_en_lista.iParEvaluadorId == data.iParEvaluadorId))">
                                <td>{{(i + 1)}}</td>
                                <td>{{data.cRegina}}</td>
                                <td>{{data.cPersNombre}} {{data.cPersPaterno}} {{data.cPersMaterno}}</td>
                                <td>{{data.cPersDocumento}}</td>
                                <td>{{data.cLineaInvestigacion}}</td>
                                <td>{{data.cTelefonoMovil}}</td>
                                <td>{{data.cCorreoElectronico}}</td>

                                <td class="text-center">
                                    <div class="btn-group float-right" role="group" aria-label="---">
                                        <button class="btn btn-sm btn-outline-info" ngbTooltip="Editar"
                                                (click)="llamarAccion(['editar', modalPersonaEdit, data])">
                                            <app-ht-font-awesome name="edit"></app-ht-font-awesome>
                                        </button>

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                                             nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







<ng-template #modalPersonaEdit let-modal>
    <form [formGroup]="frmPersona">
        <div class="modal-header ht-modal-header">
            <div class="modal-title">
                <h4>Registro de Evaluador</h4>
            </div>
        </div>
        <div class="modal-body row" style="margin: 2px;">
            <div class="col-sm-12">
                <div class="content">


                    <div class="p20 mb30">
                        <h3 class="page-title">Identificación</h3>
                        <div class="row">
                            <div class="form-group col-sm-6" *ngIf="!frmPersonaControl.idTipoPersona.value">
                                <label>Tipo Persona</label>
                                <select class="form-control" formControlName="idTipoPersona">
                                    <option *ngFor="let dat of dataServidor.tipoPersonas"
                                            [value]="dat.iTipoPersId">{{dat.cTipoPersDescripcion}}</option>
                                </select>
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.idTipoPersona"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Tipo Documento Identidad</label>
                                <select class="form-control" formControlName="idTipoIdentidad">
                                    <option *ngFor="let dat of dataServidor.tipoIdentificacion"
                                            [value]="dat.iTipoIdentId">{{dat.cTipoIdentDescripcion}}</option>
                                </select>
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.idTipoIdentidad"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Número de Documento Identidad</label>
                                <input type="text" class="form-control" formControlName="numeroDocumento">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.numeroDocumento"></app-ht-form-errors>
                                <button type="button" class="btn btn-sm btn-outline-primary float-right"
                                        (click)="llamarAccion(['consultar_persona'])">
                                    Consultar
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="p20 mb30" *ngIf="frmPersonaControl.idTipoPersona.value == 1">
                        <h3 class="page-title">Datos Personales</h3>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Apellido Paterno</label>
                                <input type="text" class="form-control" formControlName="apellidoPaterno">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.apellidoPaterno"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Apellido Materno</label>
                                <input type="text" class="form-control" formControlName="apellidoMaterno">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.apellidoMaterno"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Nombres</label>
                                <input type="text" class="form-control" formControlName="nombres">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.nombres"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Regina</label>
                                <input type="text" class="form-control" formControlName="regina">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.regina"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Institucion</label>
                                <input type="text" class="form-control" formControlName="institucion">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.institucion"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Grado Academico</label>
                                <input type="text" class="form-control" formControlName="grado_academico">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.grado_academico"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>H</label>
                                <input type="text" class="form-control" formControlName="h">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.h"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Linea de Investigacion</label>
                                <input type="text" class="form-control" formControlName="linea_investigacion">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.linea_investigacion"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Cuenta Bancaria</label>
                                <input type="text" class="form-control" formControlName="cuenta_bancaria">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.cuenta_bancaria"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Banco</label>
                                <input type="text" class="form-control" formControlName="banco">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.banco"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Cci</label>
                                <input type="text" class="form-control" formControlName="cci">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.cci"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Observación</label>
                                <input type="text" class="form-control" formControlName="observacion">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.observacion"></app-ht-form-errors>
                            </div>

                        </div>
                    </div>

                    <div class="p20 mb30" *ngIf="frmPersonaControl.idTipoPersona.value == 2">
                        <h3 class="page-title">Persona Juridica</h3>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Razón Social</label>
                                <input type="text" class="form-control" formControlName="razonSocial">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.razonSocial"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Nombre Corto</label>
                                <input type="text" class="form-control" formControlName="razonSocialCorto">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.razonSocialCorto"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Sigla</label>
                                <input type="text" class="form-control" formControlName="razonSocialSigla">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.razonSocialSigla"></app-ht-form-errors>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Representante Legal</label>
                                <input type="text" class="form-control"
                                       formControlName="representanteLegal">
                                <app-ht-form-errors
                                    [control]="frmPersonaControl.representanteLegal"></app-ht-form-errors>
                            </div>
                        </div>
                    </div>
                    <div class="p20 mb30">
                        <p-panel header="Información de Contacto" [toggleable]="true"
                                 [style]="{'margin-bottom':'20px'}">

                            <div class="row justify-content-center">

                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-hover table-bordered table-sm ">
                                        <thead class="thead-dark">
                                        <tr class="text-center">
                                            <th>
                                                <button pButton type="button"
                                                        class="ui-button-raised ui-button-info"
                                                        icon="pi pi-plus"
                                                        (click)="agregarContacto()"></button>
                                            </th>
                                            <th>Tipo Contacto</th>
                                            <th>Descripción</th>
                                            <th>Principal</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let cont of dataContacto.contacto; let i = index"
                                            (click)="modelos.sel_en_lista_contacto = cont"
                                            [class.table-warning]="((modelos.sel_en_lista != null) && (modelos.sel_en_lista.idMiembro == cont.idMiembro))">
                                            <td class="text-center">
                                                <button pButton type="button"
                                                        class="ui-button-raised ui-button-danger"
                                                        icon="pi pi-times"
                                                        (click)="eliminarContacto(i)"></button>
                                            </td>
                                            <td>
                                                <select [(ngModel)]="cont.iTipoConId"
                                                        [ngModelOptions]="{standalone: true}"
                                                        class="form-control form-control-sm"
                                                        [class.is-invalid]="cont.iTipoConId==null || cont.iTipoConId==''">
                                                    <option
                                                        *ngFor=" let opc of dataServidor.listaTipoContactos"
                                                        value="{{ opc.iTipoConId }}">
                                                        {{ opc.cTipoConDescripcion }} </option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text"
                                                       [(ngModel)]="cont.cPersTipoConDescripcion" name="iCantidad"
                                                       [ngModelOptions]="{standalone: true}"
                                                       class="form-control form-control-sm"
                                                       [class.is-invalid]="cont.cPersTipoConDescripcion==null || cont.cPersTipoConDescripcion==''">
                                            </td>
                                            <td align="center"
                                                class="{{cont.bPersTipoConPrincipal==true ? 'mes-check' : ''}}">
                                                <input type="checkbox"
                                                       [(ngModel)]="cont.bPersTipoConPrincipal"
                                                       [ngModelOptions]="{standalone: true}">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>


                            </div>
                        </p-panel>
                    </div>

                </div><!-- /.content -->
            </div>

        </div>
        <div class="modal-footer">
            <button pButton type="button" label="Guardar" class="ui-button-raised"
                    (click)="enviarFormulario('mantenimiento_persona')"></button>
            <button pButton type="button" label="Cancelar" class="ui-button-raised ui-button-warning"
                    (click)="modal.dismiss('cancel')"></button>
        </div>
    </form>
</ng-template>





<ng-template #modalPDF let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Documento la Convocatoria</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body row">
        <div class="col-md-12 justify-content-center align-items-center">
            <global-embed-pdf class="pdf_viewer" [src]="pdfActual"></global-embed-pdf>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel'); cerrarPDF();">Salir
        </button>
    </div>
</ng-template>

