<div class="card">
    <div class="wrapper">
        <legend class="scheduler-border"><strong>Gestión del Proyecto: </strong>"{{ this.nomProyecto }}"</legend>
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <a routerLink="/gastos/gasto_proyecto">
                        <div class="card mb-4 o-hidden">
                            <img class="card-img-top mediana" src="./assets/images/themes/gastos.jpg" alt="">
                            <div class="card-body" style="padding-bottom: 0">
                                <p>Gestión de Gastos</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/avances/avance_tecnico">
                        <div class="card mb-4 o-hidden">
                            <img class="card-img-top mediana" src="./assets/images/themes/avance-tecnico.jpg" alt="">
                            <div class="card-body" style="padding-bottom: 0">
                                <p>Avance Técnico</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/informes/informe_hito">
                        <div class="card mb-4 o-hidden">
                            <img class="card-img-top mediana" src="./assets/images/themes/informe-avance.jpg" alt="">
                            <div class="card-body" style="padding-bottom: 0">
                                <p>Informes de Avance</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/informes/informe_final">
                        <div class="card mb-4 o-hidden">
                            <img class="card-img-top mediana" src="./assets/images/themes/informe-final.jpg" alt="">
                            <div class="card-body" style="padding-bottom: 0">
                                <p>Informe Final</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

