<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white text-center">
                FUENTES DE PROYECTO
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="input-group-append">
                            <button class="btn btn-sm btn-outline-success" type="button"
                                    (click)="llamarAccion(['nuevo', modalFuenteProyecto])"
                            >
                                <app-ht-font-awesome name="plus"></app-ht-font-awesome>
                                Nueva Fuente de Proyecto
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <div class="form-inline">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm"
                                       [(ngModel)]="variableCriterio" (keyup.enter)="cargarLista()"
                                    placeholder="Descripción"/>
                                <div class="input-group-append">
                                    <button
                                        type="button"
                                        class="btn btn-outline-secondary btn-sm"
                                        (click)="cargarLista()"
                                    >
                                        <app-ht-font-awesome name="search"></app-ht-font-awesome>
                                        Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover table-bordered table-sm ">
                            <thead class="thead-dark">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Descripción</th>
                                <th width="10px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataServidor.mostrarLista | paginate: { itemsPerPage: 25, currentPage: p }; index as i"
                                (click)="modelos.sel_en_lista = data"
                                [class.table-warning]="((modelos.sel_en_lista != null) && (modelos.sel_en_lista.iFuenteProyectoId == data.iFuenteProyectoId))">
                                <td>{{(i + 1)}}</td>
                                <td>{{data.cFuenteProyDescripcion}}</td>

                                <td class="text-center">
                                    <div class="btn-group float-right" role="group" aria-label="---">
                                        <button class="btn btn-sm btn-outline-info" ngbTooltip="Editar"
                                                (click)="llamarAccion(['editar', modalFuenteProyecto, data])">
                                            <app-ht-font-awesome name="edit"></app-ht-font-awesome>
                                        </button>
                                        <button class="btn btn-sm btn-outline-danger" ngbTooltip="Eliminar"
                                                (click)="llamarAccion(['eliminar', modalFuenteProyecto, data])">
                                            <app-ht-font-awesome name="trash"></app-ht-font-awesome>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                                             nextLabel="Siguiente"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalFuenteProyecto let-modal>
    <div class="modal-header ht-modal-header">
        <div class="modal-title">
            <h4>{{imprimir.modalTitulo}}</h4>
        </div>
    </div>
    <form [formGroup]="frmFuenteProyecto" (ngSubmit)="enviarFormulario('mantenimiento_fuente_proyecto')">
        <div class="modal-body row" style="margin: 2px;">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12 mb-3">
                        <label>Descripción</label>
                        <input type="text" class="form-control mb-3"
                               (ngModelChange)="imprimirModalTitulo($event)"
                               (change)="frmFuenteProyectoControl.descripcion.setValue($event.target.value.toUpperCase())"
                               formControlName="descripcion"
                        >
                        <app-ht-form-errors [control]="frmFuenteProyectoControl.descripcion"></app-ht-form-errors>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button pButton type="button" label="Guardar" class="ui-button-raised"
                    (click)="enviarFormulario('mantenimiento_fuente_proyecto')"></button>
            <button pButton type="button" label="Cancelar"
                    class="ui-button-raised ui-button-warning"
                    (click)="modal.dismiss('cancel'); limpiarFormulario();"></button>
        </div>
    </form>
</ng-template>
