<div class="row justify-content-center">

    <div class="col-xl-8 col-lg-12">
        <div class="card mb-4">
            <div class="card-body">

                <div class="row">



                    <div class="col-sm-4 mb-3">
                    </div>
                    <div class="col-sm-4 mb-3">
                    </div>

                    <div class="col-sm-12 table-responsive">
                        <table class="table table-hover table-bordered table-sm ">
                            <thead class="thead-dark">
                            <tr class="text-center">
                                <th>#</th>
                                <th>Evaluador</th>
                                <th>Proyecto</th>
                                <th>Archivo</th>
                                <th>Situacion</th>
                                <th>resultado</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of dataServidor.mostrarLista ; index as i"
                                (click)="modelos.sel_en_lista = data"
                                [class.table-warning]="((modelos.sel_en_lista != null) &&
                                (modelos.sel_en_lista.iEvaluacionProyectoId == data.iEvaluacionProyectoId))">
                                <td>{{(i + 1)}}</td>
                                <td>{{data.cPersNombre}} {{data.cPersPaterno}} {{data.cPersMaterno}}</td>
                                <td>{{data.cNombreProyecto}}</td>
                                <td class="text-center">
                                    <button *ngIf="data.cDoc" type="button"
                                            class="btn btn-outline-danger"
                                            (click)="mostrarPDF(modalPDF, data.cDoc)">
                                        <app-ht-font-awesome name="file-pdf-o"></app-ht-font-awesome>
                                        PDF
                                    </button>
                                </td>

                                <td>{{data.cDescripcion}}</td>
                                <td>{{data.cResultados}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalPDF let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Documento la Convocatoria</h4>
        <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body row">
        <div class="col-md-12 justify-content-center align-items-center">
            <global-embed-pdf class="pdf_viewer" [src]="pdfActual"></global-embed-pdf>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary btn-rounded"
                (click)="modal.dismiss('cancel'); cerrarPDF();">Salir
        </button>
    </div>
</ng-template>




