
<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <h2></h2>
            <p></p>
            <div class="card" style="">
                <img class="card-img-top" src="assets\images\download.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Criterios de Evaluación Estudiante</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary" [href]="fileCriterio" download>Descargar formato</a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="container">
            <h2></h2>
            <p></p>
            <div class="card" style="">
                <img class="card-img-top" src="assets\images\download.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Criterios de Evaluación Docente</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary" [href]="fileCriterio1" download>Descargar formato</a>

                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="container">
            <h2></h2>
            <p></p>
            <div class="card" style="">
                <img class="card-img-top" src="assets\images\download.png" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Criterios de Evaluación MultiDisciplinarios</h4>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-primary" [href]="fileCriterio2" download>Descargar formato</a>

                </div>
            </div>
        </div>
    </div>
</div>
